nav.navbar.navbar-default.navbar-static-bottom.footer
  .container.clearfix
    .rightNav
      div
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/") PIQA
          li
            a(href="https://www.cs.washington.edu/research/nlp") University of Washington
