<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/uwnlp/piqa-web" data-icon="octicon-star" data-style="mega" data-count-href="/uwnlp/piqa-web/stargazers" data-count-api="/repos/uwnlp/piqa-web#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star uwnlp/piqa-web on GitHub">Star</a>
